#body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  /* background: yellow; */
}

#body > section {
  width: 100%;
  height: auto;
  /* background: yellow; */
}

#top,
#middle {
  display: flex;
  flex-direction: column;
}

#middle {
  margin: 1rem 0;
}

.column {
  display: flex;
  flex-direction: column;
}

#transaction {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 28rem;
  height: 6rem;
  background: yellow;
}

#transaction > div {
  display: flex;
  flex-direction: row;
}

#transaction-buy-token {
  display: flex;
  flex-direction: column;
  height: 1rem;
}

#transaction-buy-token-counter {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

#transaction-buy-token-counter > button {
  min-width: 2rem;
  height: auto;
}

#transaction-buy-token-counter > div {
  margin: 8px;
  font-weight: 800;
}

#transaction-buy-token-recaptcha {
  margin-left: 2rem;
}
