html,
body {
  display: grid;
  place-items: center;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  background: #fafafa;
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

root {
  --clr-purple: hsl(261, 52%, 47%);
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
